
    <div class="flex justify-start">
      <div class="flex flex-col flex-grow justify-start  box-content h-[100vh]">
        <div class="p-5">
          <img src="/images/space/logo.png" class="dark:contrast-0" />
        </div>
        <div class="flex flex-col p-2">
          <dialog id="my_modal_4" class="modal">
            <div class="modal-box w-11/12 max-w-5xl">
              <div class="modal-action">
                <form method="dialog">
                  <button class="btn">Close</button>
                </form>
              </div>
            </div>
          </dialog>
          <ul class="menu w-56 flex gap-2">
            <li>
              <a class="active">
                <img src="/images/space/folder.png" class="dark:contrast-0" />
                My Files
              </a>
            </li>
            <li>
              <a class="active:scale-[0.95]">
                <img src="/images/space/shared.png" class="dark:contrast-0" />
                Shared Files
              </a>
            </li>
            <li>
              <a class="active:scale-[0.95]">
                <img src="/images/space/starred.png" class="dark:contrast-0" />Favorites</a>
            </li>
            <li>
              <a class="active:scale-[0.95]">
                <img src="/images/space/bin.png" class="dark:contrast-0" />
                Recycle Bin
              </a>
            </li>
            <li>
              <a class="active:scale-[0.95]">
                <img src="/images/space/settings-cog.png" class="dark:contrast-0" />
                Settings
              </a>
            </li>
          </ul>
        </div>
      </div>
  
