<%- await include("../../layouts/header.ejs", {title: 'Failure' }) %>
<div class="flex justify-center items-center h-screen">
    <h1 class="text-4xl font-bold text-red-500">Payment Unsuccessful</h1>
</div>
<%- await include("../../layouts/end.ejs") %>
