<%- await include("../../layouts/header.ejs", {title: 'FLUX ADMIN'}) %>
<%- await include("../../partials/admin/token-plans-create.ejs") %>


<%- await include("../../layouts/footer.ejs") %>
</body>

</html>