<%- await include("../../layouts/header.ejs", {title: 'FLUX ADMIN'}) %>
<div class="flex">
  <div class="flex flex-col flex-grow justify-start items-center box-content h-[100vh]">
    <div class="p-5">
      <img src="/images/space/logo.png" class="dark:contrast-0" />
    </div>
    <div class="flex flex-col p-8">
      
      <ul class="menu w-56 flex gap-2">
        <li>
            <a class="active:scale-[0.95]">
                <img src="/icons/group.svg" class="dark:contrast-0" />
                Users
              </a>
        </li>
        <li>
            <a class="active:scale-[0.95]">
                <img src="/icons/spaces.svg" class="dark:contrast-0" />
                Spaces
              </a>
        </li>
        <li>
            <a class="active:scale-[0.95]">
                <img src="/icons/conversion.svg" class="dark:contrast-0" />
                Mods
              </a>
        </li>
      </ul>
    </div>
    <div class="w-3/4">
      <div class="divider divider-neutral my-0"></div>
    </div>
    <div class="flex justify-start flex-col">
      <div class="text-xl text-center my-2">Quick Access</div>
      <ul class="menu w-56 flex gap-2">
        <li>
          <a class="active:scale-[0.95]">
            <img src="/images/space/viewrecents.png" class="dark:contrast-0" />
            Viewed Recently
          </a>
        </li>
        <li>
          <a class="active:scale-[0.95]">
            <img src="/images/space/starred.png" class="dark:contrast-0" />
            Favorites
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex-grow-[2] bg-base-200 h-[100vh] flex flex-col justify-start items-center">
    <!-- add dark:bg-[#1D232A] for dark mode -->
    <!-- Search bar -->
    <div class="py-[18px] w-full bg-base-100 flex justify-center items-center">
      <div class="w-1/2">
        <input type="text" class="w-full h-10 rounded-2xl bg-base-200 text-[17px] focus:outline-none focus:border-[#D2D4D7] pl-[40px] pr-[20px] bg-no-repeat bg-[10px] bg-[url('/images/space/search.png')]" placeholder="Search" />
      </div>
    </div>
    <!-- Main page -->
    <div class="px-8 w-full overflow-y-scroll no-scrollbar">
      <!-- My Storage Header -->
      <div class="flex justify-between w-full my-4">
        <h1 class="text-[24px] font-['Quicksand'] font-bold">Users</h1>
        <button class="btn btn-info">Create User</button>
      </div>
      <!-- Analytics -->
      <% const users = [
      { index: 0, name: 'Hart Hagerty', country: 'United States', company: 'Zemlak, Daniel and Leannon', jobTitle: 'Desktop Support Technician', avatar: '../icons/ad-tb-1.png' },
      { index: 1, name: 'Brice Swyre', country: 'China', company: 'Carroll Group', jobTitle: 'Tax Accountant', avatar: '../icons/ad-tb-1.png' },
      { index: 2, name: 'Marjy Ferencz', country: 'Russia', company: 'Rowe-Schoen', jobTitle: 'Office Assistant I', avatar: '../icons/ad-tb-1.png' },
      { index: 3, name: 'Yancy Tear', country: 'Brazil', company: 'Wyman-Ledner', jobTitle: 'Community Outreach Specialist', avatar: '../icons/ad-tb-1.png' }
    ]; %>
      <div class="overflow-x-auto bg-base-100 flex items-center justify-center">
        <canvas id="myPieChart" width="100" height="100"></canvas>
      </div>
      <div class="w-full rounded-[16px] mt-5 bg-base-100">
        <div class="px-8 py-6 w-full">
          <h1 class="text-[24px] font-['Quicksand'] font-bold">My Files</h1>
          <!-- Folders -->
          <canvas id="myLineChart" width="100" height="100"></canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- Right panel -->
  <div class="flex-grow h-[100vh] flex flex-col justify-start items-start">
    <!-- Right top user panel -->
    <div class="h-[76px] w-full flex justify-end items-center px-4">
      <!-- Theme Controller -->
      <label class="swap swap-rotate">
        <input type="checkbox" class="theme-controller hidden" value="dark" />
        <svg class="swap-off fill-current w-[24px] h-[24px] contrast-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z" />
        </svg>
        <svg class="swap-on fill-current w-[24px] h-[24px] contrast-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z" />
        </svg>
      </label>
      <button class="btn btn-sm btn-ghost px-[6px]">
        <img src="/images/space/notifications.png" class="contrast-0" />
      </button>
      <div>
        <div class="divider divider-horizontal mx-[2px] h-[24px]"></div>
      </div>
      <button class="btn btn-sm btn-ghost px-[6px]">
        <img src="/images/space/user.png" class="contrast-0" />
        Team Codegasms
      </button>
      <button class="btn btn-sm btn-ghost px-[6px]">
        <img src="/images/space/logout.png" class="contrast-0" />
      </button>
    </div>
    <div class="w-full px-5">
      <!-- Right panel -->
      <div class="text-xl my-2 text-left">Categories</div>
      <div class="w-full">
        <div class="divider divider-neutral my-0"></div>
      </div>
      <!-- Right Panel contents -->
      <div>
        <ul class="w-full flex flex-col gap-2">
          <li>
            <a class="active:scale-[0.95] btn w-full btn-ghost border-2 border-base-200 rounded-md flex justify-start h-20" href="#">
              <img src="/images/space/shared.png" class="dark:contrast-0" />
              <div class="flex flex-col items-start">
                <div class="text-xl">Audios</div>
                <div class="text-sm text-base-content/50">
                  16.2GB - 42 files
                </div>
              </div>
            </a>
          </li>
          <li>
            <a class="active:scale-[0.95] btn w-full btn-ghost border-2 border-base-200 rounded-md flex justify-start h-20" href="#">
              <img src="/images/space/shared.png" class="dark:contrast-0" />
              <div class="flex flex-col items-start">
                <div class="text-xl">Videos</div>
                <div class="text-sm text-base-content/50">
                  16.2GB - 42 files
                </div>
              </div>
            </a>
          </li>
          <li>
            <a class="active:scale-[0.95] btn w-full btn-ghost border-2 border-base-200 rounded-md flex justify-start h-20" href="#">
              <img src="/images/space/shared.png" class="dark:contrast-0" />
              <div class="flex flex-col items-start">
                <div class="text-xl">Documents</div>
                <div class="text-sm text-base-content/50">
                  16.2GB - 42 files
                </div>
              </div>
            </a>
          </li>
          <li>
            <a class="active:scale-[0.95] btn w-full btn-ghost border-2 border-base-200 rounded-md flex justify-start h-20" href="#">
              <img src="/images/space/shared.png" class="dark:contrast-0" />
              <div class="flex flex-col items-start">
                <div class="text-xl">Photos</div>
                <div class="text-sm text-base-content/50">
                  16.2GB - 42 files
                </div>
              </div>
            </a>
          </li>
          <li>
            <a class="active:scale-[0.95] btn w-full btn-ghost border-2 border-base-200 rounded-md flex justify-start h-20" href="#">
              <img src="/images/space/shared.png" class="dark:contrast-0" />
              <div class="flex flex-col items-start">
                <div class="text-xl">Recycle bin</div>
                <div class="text-sm text-base-content/50">
                  16.2GB - 42 files
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
   const dataPie = {
    labels: ['Red', 'Blue', 'Yellow'],
    datasets: [{
      label: 'My First Dataset',
      data: [300, 50, 100],
      backgroundColor: [
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',
        'rgb(255, 205, 86)'
      ],
      hoverOffset: 4
    }]
  };

  const configPie = {
    type: 'pie',
    data: dataPie,
  };

  var ctxPie = document.getElementById('myPieChart').getContext('2d');
  var myPieChart = new Chart(ctxPie, configPie);

  // Line Chart
  const labelsLine = ['-60', '-54', '-48', '-42','-36', '-30', '-24', '-18', '-12', '-6', '0'];
  const dataLine = {
    labels: labelsLine,
    datasets: [{
      label: 'My First Dataset',
      data: [65, 59, 80, 81, 56, 55, 40, 24, 12, 40, 19, 86],
      fill: false,
      borderColor: 'rgb(75, 192, 192)',
      tension: 0.1
    }]
  };

  const configLine = {
    type: 'line',
    data: dataLine,
  };

  var ctxLine = document.getElementById('myLineChart').getContext('2d');
  var myLineChart = new Chart(ctxLine, configLine);
</script>
<script src="/js/space/space.js"></script>
<script src="path/to/chartjs/dist/chart.umd.js"></script>

<%- await include("../../layouts/end.ejs") %>
