<div id="page" class="relative h-screen w-screen">
  <h1
    class="absolute z-50 text-nowrap text-9xl text-center top-[40%] sm:top-1/2 sm:text-[240px] md:top-1/3 lg:top-1/2 font-[500] transform -translate-x-1/2 -translate-y-1/2 left-1/2"
  >
    FLUX
  </h1>
  <h4
    class="absolute z-50 text-pretty text-sm text-center top-[70%] sm:top-2/3 sm:text-2xl md:top-2/3 lg:top-3/4 font-[400] transform -translate-x-1/2 -translate-y-1/2 left-1/2"
  >
    FLUX REVOLUTIONIZES YOUR FILE MANAGEMENT EXPERIENCE. SAY GOODBYE TO STORAGE
    WOES, FORMAT CONVERSION ' 'HEADACHES, AND EDITING DILEMMAS. SEAMLESSLY
    HANDLE ALL YOUR FILE NEEDS WITH FLUX. TRY IT TODAY!
  </h4>
  <canvas class="relative h-screen w-screen z-10"></canvas>
</div>

<div id="page2" class="relative h-screen w-screen bg-transparent">
  <!--Blank Page [To Create An Delay Illusion]-->
</div>

<div id="page1" class="relative h-screen w-screen bg-home-bg">
  <h1
    class="absolute z-50 text-pretty text-6xl text-center top-[40%] sm:top-1/2 sm:text-8xl md:top-1/3 lg:top-1/2 font-[500] transform -translate-x-1/2 -translate-y-1/2 left-1/2"
  >
    WELCOME TO FLUX
  </h1>
  <h4
    class="absolute z-50 text-pretty text-lg text-center top-[70%] sm:top-2/3 sm:text-2xl md:top-2/3 lg:top-3/4 font-[400] transform -translate-x-1/2 -translate-y-1/2 left-1/2"
  >
    FLUX revolutionizes your file management experience. Say goodbye to storage
    woes, format conversion headaches, and editing dilemmas.
  </h4>
</div>

<div id="page3" class="relative h-screen w-screen bg-transparent">
  <!--Blank Page [To Create An Delay Illusion]-->
</div>

<div
  id="page4"
  class="h-screen w-screen flex items-center justify-center flex-col relative z-50 bg-home-bg-light"
>
  <h1 class="font-semibold text-4xl text-center">Too Much To Explore In Us</h1>
  <h4 class="font-medium text-md text-center my-4 text-pretty">
    This is just the beginning. There's a lot more to explore in us starting
    from our innovative file organization system to our intuitive user interface
    designed for maximum efficiency and ease of use.
  </h4>
  <a
    href="/away-from-home"
    class="font-medium text-md text-center my-4 text-pretty"
    >Explore More About Us</a
  >
</div>
