<div
  class="w-full h-12 text-center bg-base-200 border-2 flex items-center justify-center"
>
  <p class="py-3 text-md">Welcome to Flux</p>
  <button class="btn btn-sm ml-6">About Us</button>
</div>
<div class="w-full h-32 bg-base-200 border-2 flex items-center justify-center">
  <p class="py-2 text-center text-4xl font-bold md:text-6xl">
    <%= fileType %> TOOLS TO MAKE YOUR LIFE SIMPLE
  </p>
</div>
<div
  class="w-full relative h-12 text-center bg-base-200 border-2 flex items-center justify-center"
>
  <p class="py-3 text-sm">
    We offer <%= fileType %> and other utility tools to make your life easier
  </p>
</div>
