<div
  onmouseenter="cardAnimOnMouseEnter(event, this);"
  onmousemove="cardAnimOnMouseMove(event, this);"
  onmouseleave="cardAnimOnMouseLeave(event, this);"
  class="flex items-center justify-center relative transition-all duration-200 ease-linear inter-var my-4 w-3/4 mx-3 sm:3/4 sm:my-4 md:w-2/5 md:my-4 md:mx-4 lg:w-1/4 lg:my-5"
  style="transform-style: preserve-3d"
>
  <div
    onmouseenter="function propagate(e) { Object.values(e.children).forEach(c => { propagate(c); c.dispatchEvent(new CustomEvent('mouseenter', {detail: 69})); }) }; propagate(this);"
    onmouseleave="function propagate(e) { Object.values(e.children).forEach(c => { propagate(c); c.dispatchEvent(new CustomEvent('mouseleave', {detail: 69})); }) }; propagate(this);"
    class="[transform-style:preserve-3d] [&amp;&gt;*]:[transform-style:preserve-3d] bg-gray-50 relative group/card dark:hover:shadow-2xl dark:hover:shadow-emerald-500/[0.1] dark:bg-black dark:border-white/[0.2] border-black/[0.1] w-auto sm:w-[30rem] h-auto rounded-xl p-6 border"
  >
    <div
      class="w-fit transition duration-200 ease-linear text-xl font-bold text-neutral-600 dark:text-white"
      onmouseenter="if (event.detail === 69) this.style.transform = 'translateX(0px) translateY(0px) translateZ(50px) rotateX(0deg) rotateY(0deg) rotateZ(0deg)';"
      onmouseleave="if (event.detail === 69) this.style.transform = 'translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg)';"
    >
      <%= item.title %>
      Tools
    </div>

    <div
      class="w-fit transition duration-200 ease-linear text-neutral-500 text-sm max-w-sm mt-2 dark:text-neutral-300"
      onmouseenter="if (event.detail === 69) this.style.transform = 'translateX(0px) translateY(0px) translateZ(60px) rotateX(0deg) rotateY(0deg) rotateZ(0deg)';"
      onmouseleave="if (event.detail === 69) this.style.transform = 'translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg)';"
    >
      Get solution to all your
      <%= item.title %>
      Problems
    </div>

    <div
      class="w-full transition duration-200 ease-linear mt-4"
      onmouseenter="if (event.detail === 69) this.style.transform = 'translateX(0px) translateY(0px) translateZ(50px) rotateX(0deg) rotateY(0deg) rotateZ(0deg)';"
      onmouseleave="if (event.detail === 69) this.style.transform = 'translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg)';"
    >
      <img
        src="<%= item.imagepath %>"
        height="1000"
        class="h-60 w-full object-cover rounded-xl group-hover/card:shadow-xl"
        alt="thumbnail"
      />
    </div>

    <div class="flex justify-between items-center mt-4">
      <div
        class="w-fit transition duration-200 ease-linear px-4 py-2 rounded-xl text-xs font-normal dark:text-white"
        onmouseenter="if (event.detail === 69) this.style.transform = 'translateX(0px) translateY(0px) translateZ(20px) rotateX(0deg) rotateY(0deg) rotateZ(0deg)';"
        onmouseleave="if (event.detail === 69) this.style.transform = 'translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg)';"
      >
        Checkout
      </div>

      <!-- <div
            class="w-fit transition duration-200 ease-linear px-4 py-2 rounded-xl bg-black dark:bg-white dark:text-black text-white text-xs font-bold"
            onmouseenter="if (event.detail === 69) this.style.transform = 'translateX(0px) translateY(0px) translateZ(80px) rotateX(0deg) rotateY(0deg) rotateZ(0deg)';"
            onmouseleave="if (event.detail === 69) this.style.transform = 'translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg)';">
            Sign up
          </div> -->
    </div>
  </div>
</div>
