<div class="px-8 w-full overflow-y-scroll no-scrollbar">
  <!-- My Storage Header -->
  <div class="flex justify-between w-full my-4">
    <h1 class="text-[24px] font-['Quicksand'] font-bold">My Storage</h1>
    <button class="btn btn-ghost bg-base-100 font-bold rounded-full flex justify-center items-center" id="toggleAnalytics">
      <span class="material-symbols-outlined"> insert_chart </span>
    </button>
  </div>
  <!-- Analytics -->
  <div class="bg-base-100 rounded-[16px] p-6" id="analytics">
    <div class="w-full">
      <h1 class="text-[24px] font-['Quicksand'] font-bold">Overview</h1>
    </div>
    <canvas id="myChart" height="60" aria-label="Graph for storage analytics">
      <p>Your browser does not support the canvas element.</p>
    </canvas>
  </div>
  <div class="w-full rounded-[16px] mt-5 bg-base-100">
    <div class="px-8 py-6 w-full">
      <h1 class="text-[24px] font-['Quicksand'] font-bold">My Files</h1>
      <!-- Breadcrumbs -->
      <div class="text-sm breadcrumbs">
        <ul>
          <li><a>Home</a></li>
          <li><a>Documents</a></li>
          <li>Add Document</li>
        </ul>
      </div>
      <!-- Folders -->
      <div class="flex flex-wrap mt-4 gap-x-4">
        <button class="btn btn-ghost btn-xs sm:btn-sm md:btn-md lg:btn-lg border-2 border-base-200 flex gap-4 my-2">
          <img src="/images/space/folder_closed.png" />
          Folder 1
        </button>
        <button class="btn btn-ghost btn-xs sm:btn-sm md:btn-md lg:btn-lg border-2 border-base-200 flex gap-4 my-2">
          <img src="/images/space/folder_closed.png" />
          Folder 2
        </button>
        <button class="btn btn-ghost btn-xs sm:btn-sm md:btn-md lg:btn-lg border-2 border-base-200 flex gap-4 my-2">
          <img src="/images/space/folder_closed.png" />
          Folder 3
        </button>
        <button class="btn btn-ghost btn-xs sm:btn-sm md:btn-md lg:btn-lg border-2 border-base-200 flex gap-4 my-2">
          <img src="/images/space/folder_closed.png" />
          Folder 4
        </button>
        <button class="btn btn-ghost btn-xs sm:btn-sm md:btn-md lg:btn-lg border-2 border-base-200 flex gap-4 my-2">
          <img src="/images/space/folder_closed.png" />
          Folder 5
        </button>
        <button class="btn btn-ghost btn-xs sm:btn-sm md:btn-md lg:btn-lg border-2 border-base-200 flex gap-4 my-2">
          <img src="/images/space/folder_closed.png" />
          Folder 6
        </button>
      </div>
      <div class="mt-2">
        <table class="table">
          <tr>
            <th>File Name</th>
            <th>Access</th>
            <th>Date Modified</th>
            <th>Folder</th>
            <th>Size</th>
          </tr>
          <tr>
            <td>image0302.jpeg</td>
            <td>Only you</td>
            <td>Today</td>
            <td>Folder 01</td>
            <td>3.1 mb</td>
          </tr>
          <tr>
            <td>random.mp4</td>
            <td>Only you</td>
            <td>Today</td>
            <td>Folder 03</td>
            <td>323 mb</td>
          </tr>
          <tr>
            <td>malware.exe</td>
            <td>Only you</td>
            <td>Yesterday</td>
            <td>Folder 07</td>
            <td>24.8 mb</td>
          </tr>
          <tr>
            <td>confidential.pdf</td>
            <td>Shared With You</td>
            <td>Yesterday</td>
            <td>Folder 04</td>
            <td>12.6 mb</td>
          </tr>
          <tr>
            <td>image3101.jpeg</td>
            <td>Only you</td>
            <td>08th March, 2024</td>
            <td>Folder 01</td>
            <td>3.2 mb</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
</div>