<div class="w-full bg-base-100 flex">
  <div class="w-full flex justify-center items-center">
    <div class="w-1/2">
      <input
        type="text"
        class="w-full h-10 rounded-2xl bg-base-200 text-[17px] focus:outline-none focus:border-[#D2D4D7] pl-[40px] pr-[20px] bg-no-repeat bg-[10px] bg-[url('/images/space/search.png')]"
        placeholder="Search"
      />
    </div>
  </div>
  <div>
    <%- await include("usermenu.ejs", {username: username}) %>
  </div>
</div>
