<%- await include("../../layouts/header.ejs", {title: 'Success' }) %>
<div class="flex justify-center items-center h-screen">
    <h1 class="text-4xl font-bold text-green-500">Payment Successful</h1>
</div>
<%- await include("../../layouts/end.ejs") %>
